<div class="position-relative" *ngIf="chromosomeNumber">

        <!-- Left list -->
        <div class="row mx-0">
            <div class="col-5">
                <div class="mt-3">
                    <ul class="gene-list">
                        <li class="gene-list-item" [style.color]="colorGradientPicker(gene.posterior['PP.H4.abf'])" *ngFor="let gene of data" 
                        (mouseenter)="highlightGene(gene)" (mouseout)="removeHighlightedGene(gene)" (click)="openGeneModal(gene)">{{ gene.meta_data.gene_name }}</li>
                    </ul>
                </div>
            </div>
        

        <!-- Chromosomes -->
        <div class="col-2">
            <div class="position-relative" style="width: 40px;">

                <!-- Corner cover parts -->
                <img src="assets/images/chromosome_cover_parts/corner-cover.png" class="cover corner top-left" />
                <img src="assets/images/chromosome_cover_parts/corner-cover.png" class="cover corner top-right" />
                <img src="assets/images/chromosome_cover_parts/corner-cover.png" class="cover corner bottom-left" />
                <img src="assets/images/chromosome_cover_parts/corner-cover.png" class="cover corner bottom-right"/>

                <!-- Chromosome parts -->
                <div class="end mx-auto"></div>
                <div class="arm mx-auto" style="margin-top: -20px;" [style.height]="calculateArmLength(chromosomeNumber, 'p') + 'px'"></div>
                <div class="end mx-auto" [style.margin-top]="calculatePArmEndMargin(chromosomeNumber) + 'px'"></div>
                <img src="assets/images/chromosome_cover_parts/center-cover.png" class="center-cover" />
                <img src="assets/images/chromosome_cover_parts/center-cover.png" class="center-cover center-right" />
                <div class="end mx-auto" style="margin-top: -33px;"></div>
                <div class="arm mx-auto" style="margin-top: -20px;" [style.height]="(calculateArmLength(chromosomeNumber, 'q') + 'px')"></div>
                <div class="end mx-auto" style="margin-top: -20px;"></div>
                <div class="gene position-absolute" [style.top]="calculateGenePosition(gene) + 'px'" *ngFor="let gene of data" [id]="gene.meta_data.gene_name"></div>
            </div>
        </div>

        <!-- Right list -->
        <div class="col-5">
            <div class="position-absolute" style="top: 15px; left: 190px;" *ngIf="data2">
                <ul class="gene-list">
                    <li *ngFor="let gene of data2" [style.color]="colorGradientPicker(gene.posterior['PP.H4.abf'])" style="width: 160px; text-align: start; z-index: 100;"
                    (mouseenter)="highlightGene(gene)" (mouseout)="removeHighlightedGene(gene)" (click)="openGeneModal(gene.meta_data.gene_name)">{{ gene.meta_data.gene_name }}</li>
                </ul>
            </div>
        </div>
     
</div>



