<div class="row justify-content-center mx-0">

    <div class="col-12">

        <div class="row justify-content-center" *ngIf="!submitted">
            <div class="col-12 col-md-6 col-lg-3 text-center">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4">
                    
                    <!-- File upload box -->
                    <div class="upload-container py-1">

                        <div *ngIf="!file">
                            <i class="bi bi-cloud-arrow-up" style="font-size: 2.5rem;"></i>
                            <div>Drag a file to upload</div>
                            <div class="text-small">or</div>
                            <button class="button px-3 py-1 mt-2" (click)="fileInput.click()"><i class="bi bi-folder2-open"></i> Browse file</button>
                            <div class="text-small text-muted my-2">Supported types: CSV, TSV, TXT</div>
                        </div>
                        
                        <div *ngIf="file">
                            <div class="remove-file-icon text-end"><i class="bi bi-x-circle-fill" (click)="removeFile(); fileInput.value = ''"></i></div>
                            <div class="file-icon"><i class="bi bi-file-earmark-text"></i></div>
                            <div class="file-name">{{ file['name'] }}</div>
                        </div>
                    </div>

                    <input type="file" (change)="onFileSelect($event)" #fileInput class="file-input" />

                    <!-- Geference genome -->
                    <div class="mt-4">
                        <div style="font-weight: bold;">Reference Genome:</div>
                        <input type="radio" id="grch37" name="referenceGenome" value="grch37" formControlName="referenceGenome" class="form-check-input" />
                        <label for="grch37">GRCh37</label>
                        <input type="radio"  id="grch38" name="referenceGenome" value="grch38" formControlName="referenceGenome" class="form-check-input ms-5" />
                        <label for="grch38">GRCh38</label><br>
                    </div>

                    <!-- Type -->
                    <div class="mt-3">
                        <div style="font-weight: bold;">Type:</div>
                        <input type="radio" id="cc" name="type" value="cc" formControlName="type" class="form-check-input" />
                        <label for="cc">Case/control</label>
                        <input type="radio" class="form-check-input" id="quant" name="type" value="quant" formControlName="type" class="form-check-input ms-5" />
                        <label for="quant">Quantitative</label><br>
                    </div>

                    <!-- Case/control input fields -->
                    <div *ngIf="form.get('type')?.value == 'cc'" class="mt-3">
                        <div class="row">
                            <div class="col-6">
                                <label for="numCases" class="form-label fw-bold">Number of cases:</label>
                                <input type="number" id="numCases" class="form-control" />
                            </div>
                            <div class="col-6">
                                <label for="numCases" class="form-label fw-bold">Number of controls:</label>
                                <input type="number" id="numCases" class="form-control" />
                            </div>
                        </div> 
                    </div>
                    
                    <!-- Quantitative input fields -->
                    <div *ngIf="form.get('type')?.value == 'quant'" class="mt-3">
                        <label for="sampleSize" class="form-label fw-bold">Sample size:</label>
                        <input type="number" id="sampleSize" class="form-control" />
                    </div>
    
                    <!-- Submit button -->
                    <button type="submit" class="button px-3 py-2 mt-4"><i class="bi bi-play-fill"></i> Start analysis</button>
    
                </form>
            </div>
        </div>
    

        <div class="row justify-content-center mt-5" *ngIf="colocObject">
            <div class="col-12 col-md-5 col-xl-3 text-center">

                <!-- Ticket field -->
                <div class="fw-bold">Ticket:</div>
                <div class="input-group">
                    <input type="text" class="form-control" [value]="ticket" disabled />
                    <button class="btn btn-secondary copy-button" type="button" (click)="copyTicket()"><i class="fa-solid fa-copy"></i></button>
                  </div>

                <!-- Status list -->
                <div class="fw-bold mt-5">Status:</div>
                <ul class="list-group">
                    <li *ngFor="let statusObject of colocStatusList" class="list-group-item" [class.text-muted]="statusObject.status_order != lastStatusOrder">
                        {{ statusObject.status_message }}
                        <span class="float-end" *ngIf="statusObject.status_order == lastStatusOrder">
                            <i class="fa-solid fa-spinner fa-spin"></i>
                        </span>
                        <span class="float-end" *ngIf="statusObject.status_order != lastStatusOrder">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
   
</div>