.upload-container {
    border: 3px dashed #3D4150;
    border-radius: 1em;
    min-height: 205px;
}

.file-input {
    display: none;
}

.text-small {
    font-size: 80%;
}

.remove-file-icon {
    font-size: 1.5em;
    cursor: pointer;
}

.file-icon {
    font-size: 70px;
}

.file-name {
    word-wrap: break-word;
}

.copy-button {
  background-color: #3D4150;
  color: #8ABEF4;
}