.nav-bar {
    height: 70px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.title {
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
}

.menu-items-container {
    margin-left: auto;
}

.menu-item {
    color: #a8a8a8;
    font-weight: bold;
    cursor: pointer;
    font-family: Bahnschrift Light;
}

.menu-item:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.menu-item.active {
    color: white;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.loading-bar-container {
    background-color: #8ABEF4;
    height: 7px;
    position: relative;
    overflow: hidden;
}

.loading-bar {
    background-color: #3D4150;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: loading-bar-animation;
}

@keyframes loading-bar-animation {
    from {
        left: -50%;
    }

    to {
        left: 100%;
    }
}