<div class="row mx-0 justify-content-center">
    <div class="col-12 col-md-6 col-xl-5 text-center">

        <h1 class="main-title grey-text mb-0">404</h1>

        <div class="sub-title grey-text">Page not found</div>

        <h3 class="dark-blue-text mt-5">Where would you like to go?</h3>

        <div class="row mx-0 mt-5 justify-content-center">

            <!-- Previous page button -->
            <div class="col-12 col-md-6">
                <button class="button py-3 ps-2 pe-3" (click)="navigateToPreviousPage()"><i class="bi bi-chevron-left"></i> Previous page</button>
            </div>

            <!-- Home page button -->
            <div class="col-12 col-md-6">
                <button class="button py-3 ps-2 pe-3 mt-3 mt-md-0" (click)="navigateToHomePage()"><i class="bi bi-house"></i> Home page</button>
            </div>

        </div>

    </div>
</div>