.modal-window {
    background-color: white;
    margin-top: 5vh;
    border: 1px solid black;
}

.modal-body {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden
}

.close-button {
    font-size: 2em;
}

.close-button:hover {
    cursor: pointer;
}

.info-label {
    font-size: 1.5em;
}