.modal-window {
    background-color: white;
    margin-top: 5vh;
    border: 1px solid black;
}

.modal-body {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 25px;
}

.close-button {
    font-size: 2em;
}

.close-button:hover {
    cursor: pointer;
}

.export-csv-button {
    background-color: #107C41;
    border: 2px solid #107C41;
    color: white;
    border-radius: 0.5em;
}

.export-csv-button:hover {
    background-color: white;
    color: #107C41;
    cursor: pointer;
}

.info-label {
    font-size: 1.2em;
}